@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

body {
  font-family: "PT Sans", sans-serif;
  color: var(--basic-normal-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* margin: 0; */
}

:root {
  --basic-extra-dark: #000000;
  --basic-normal-dark: #333333;
  --total-white: #FFFFFF;
}

.font-super-title {
  /* color: var(--total-white); */
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
}

.font-main-title {
  color: var(--basic-extra-dark);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.font-main-subtitle {
  color: var(--basic-normal-dark);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.font-mini-title {
  color: var(--basic-extra-dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

/* .font-tiny-text {
  color: var(--basic-normal-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
} */

/* index.html HERO */

.hero-wrapper {
  background: chocolate url('../images/index/hero-background.jpg') no-repeat;
  width: 1200px;
  height: 485px;
}

.hero-divider {
  background: url('../images/index/hero-divider.png') no-repeat bottom;
  height: 485px;
}

.hero-welcome {
  transform: translate(371px, 51px);
}

/* index.html ADVANTAGES */

.advantages-item__title {
  text-transform: uppercase;
}

/* index.html SERVICE */

/* SUBSCRIBE */

.subscribe {
  min-height: 415px;
}

.subscribe_with {
  background: url('../images/subscribe-background.jpg');
}

/* FOOTER */

.social-link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 47px;
  height: 40px;
}

.social-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(131, 179, 211);
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-vk::before {
  mask-image: url('../images/vk-social-icon.svg');
}

.social-telegram::before {
  mask-image: url('../images/tg-social-icon.svg');
}

.social-youtube::before {
  mask-image: url('../images/youtube-social-icon.svg');
}

/* catalog.html CATALOG*/

.vision-link {
  display: block;
  width: 48px;
  height: 48px;
}

.tile-link {
  background: url('../images/catalog/vision-card-icon.svg') no-repeat;
}

.card-link {
  background: url('../images/catalog/vision-list-icon.svg') no-repeat;
}

.list-link {
  background: url('../images/catalog/vision-tile-icon.svg') no-repeat;
}
